<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="DeviceService.Service">
        <endpoint contract="DeviceService.IService"
                  binding="webHttpBinding"
                  address="http://localhost/microsoft/device"
                  behaviorConfiguration="webHttp" >
        </endpoint>
      </service>
      <service name="CalculationService.Service">
        <endpoint contract="CalculationService.IService"
                  binding="webHttpBinding"
                  address="http://localhost/microsoft/calculation"
                  behaviorConfiguration="webHttp" >
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>